@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
}

h1,
p {
  font-weight: 500;
}

.card {
  @apply shadow-md m-auto flex bg-white;
  border-radius: 2rem;
}

.btn-filled,
.btn-outlined {
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  width: max-content;
}

.btn-outlined {
  border: 1px solid #fff;
  background-color: transparent;
}

.btn-filled {
  background-color: #512da8;
  border: none;
  outline: none;
}

input {
  padding: 0.75rem 1rem;
  border-radius: 0.475rem;
  align-items: flex-start;
  border: none;
  outline: none;
  margin-right: 0;
  text-align: left;
  background-color: #eee !important;
}

input::placeholder {
  color: #999; /* Custom placeholder color */
  opacity: 1; /* Ensures full visibility of color */
}
